.entertainment-section {
  padding: 50px 0;
}

.entertainment-container {
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
  text-align: center;
}

.entertainment-title-wrapper {
  margin: 1.5rem 0 1.5rem 0;
  
}

.entertainment-title {
    font-family: "Anton", sans-serif;
  color: white;
  font-size: 28px;
  margin-bottom: 1rem;
}

.entertainment-description {
  color: white;
  font-size: 0.875rem;
  margin-bottom: 1rem;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

.entertainment-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.75rem;
}

.entertainment-grid-item {
  height: 200px;
}

.entertainment-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.125rem;
}

@media (min-width: 640px) {
  .entertainment-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .entertainment-grid-item {
    height: 250px;
  }
}

@media (min-width: 1024px) {
  .entertainment-section {
    padding: 100px 0;
  }
  .entertainment-container {
    width: 1200px;
  }
  .entertainment-title {
    font-size: 40px;
    margin-bottom: 2rem;
  }
  .entertainment-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .entertainment-grid-item {
    height: 308px;
  }
}
