.promotion-container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 70px;
  padding-bottom: 25px;
}
.promotion-image {
  width: 639px;
}
#promotion-text-ten {
  padding-left: 20px;
}
.promotion-row {
  display: flex;
  overflow: hidden;
  color: white;
}

.promotion-text {
  width: 569px;
  display: flex;
  flex-direction: column;
}

.promotion-title {
  font-size: 1.25rem;
  margin-bottom: 16px;
  font-family: "Anton, sans-serif";
  letter-spacing: -0.02em;
}

.promotion-button {
  position: relative;
  background-color: #f3ea28;
  color: black;
  width: 100%;
  max-width: 250px;
  height: 40px;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 16px;
  font-family: "Anton, sans-serif";
}

.promotion-button a {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: color 0.3s;
}

.promotion-button:hover a {
  color: white;
}

.promotion-button::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #663399, #3366cc);
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.promotion-button:hover::after {
  transform: translateX(0);
}
@media screen and (max-width: 1024px) {
  .promotion-container {
    max-width: 1024px;
    gap: 50px;
    margin: 0;
    padding: 25px;
  }

  .promotion-row {
    display: flex;
  }

  .promotion-text {
    width: 440px;
    display: flex;
    flex-direction: column;
  }

  .promotion-image {
    width: 524px;
  }
}
@media screen and (max-width: 768px) {
  .promotion-container {
    max-width: 768px;
    gap: 40px;
    padding: 15px;
  }

  .promotion-row {
    display: flex;
    justify-content: space-between;
  }

  .promotion-text {
    width: 325px;
    padding: 0 15px;
  }

  .promotion-image {
    width: 388px;
  }
  #promotion-text-ten {
    padding-left: 15px;
  }
}
@media screen and (max-width: 486px) {
  .promotion-container {
    max-width: 486px;
    gap: 40px;
    padding: 15px;
  }

  .promotion-row {
    display: flex;
    flex-direction: column;
  }

  .promotion-text {
    width: 456px;
    padding-top: 40px;
  }

  .promotion-image {
    width: 456px;
  }
  #promotion-text-ten {
    padding-left: 15px;
  }
  .promotion-button {
    width: 100%;
    max-width: 100%;
  }
  #promotion-row-first {
    display: flex;
    flex-direction: column-reverse;
  }
}
