.container-event-rental-page {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header-event-rental-page {
  text-align: center;
  padding: 24px 0;
  color: white;
}

.header-title-event-rental-page {
  font-size: 40px;
  font-family: "Anton", sans-serif;
  margin-bottom: 8px;
}

.header-subtitle-event-rental-page {
  font-size: 20px;
  margin-bottom: 8px;
}

.header-text-event-rental-page {
  font-size: 16px;
  padding: 0 16px;
}

.main-content-event-rental-page {
  display: flex;
  flex-direction: column;
  padding: 24px 0;
}

.event-section-event-rental-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 70px;
}

.event-section-event-rental-page.reverse {
  flex-direction: row-reverse;
}

.event-text-event-rental-page {
  width: 50%;
}

.event-title-event-rental-page {
  font-size: 24px;
  font-family: "Anton", sans-serif;
  margin-bottom: 8px;
}

.event-description-event-rental-page {
  font-size: 16px;
  margin-bottom: 8px;
}

.event-info-event-rental-page {
  font-size: 14px;
  margin-bottom: 4px;
}

.event-phone-event-rental-page {
  font-size: 18px;
  font-weight: bold;
}

.contact-button-event-rental-page {
  background-color: #f3ea28;
  color: black;
  height: 40px;
  width: 150px;
  border-radius: 0.375rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Anton", sans-serif;
}

.contact-button-event-rental-page span {
  position: relative;
  z-index: 10;
  transition: color 0.3s;
}

.contact-button-event-rental-page::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, #663399, #3366cc);
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.contact-button-event-rental-page:hover::before {
  transform: translateX(0);
}

.contact-button-event-rental-page:hover span {
  color: white;
}

.event-image-event-rental-page {
  width: 600px;
  height: 395px;
  object-fit: cover;
}

.voucher-banner-event-rental-page {
  width: 100%;
  padding-bottom: 50px;
}

@media (min-width: 768px) {
  .voucher-banner-event-rental-page {
    padding-bottom: 100px;
  }
}

.voucher-banner-event-rental-page img {
  width: 100%;
  height: auto;
}
