.contact-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0 1rem;
}

.contact-wrapper {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Add this line */
}

.contact-title {
  font-family: 'Anton', sans-serif;
  font-size: 30px;
  margin-bottom: 1rem;
  text-align: center;
  color: white;
}

.contact-social-item {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  max-width: 470px;
}

.social-image-container {
  width: 120px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.social-image {
  object-fit: cover;
  z-index: 3;
  position: relative;
  width: 100%;
  height: auto;
}

.social-text {
  flex: 1;
  margin-left: -2.5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  font-size: 24px;
  height: 80px;
  background: linear-gradient(to right, #663399, #3366cc);
  font-family: 'Anton', sans-serif;
}

.contact-form {
  flex: 1;
  background-color: #3366cccc;
  padding: 1rem;
  border-radius: 0.5rem;
  overflow: hidden; /* Add this line */
}

.form-title {
  font-family: 'Anton', sans-serif;
  font-size: 1.25rem;
  color: white;
  margin-bottom: 1rem;
}

.contact-info {
  margin-top: 1rem;
  color: white;
  margin-bottom: 1rem;
  font-size: 0.875rem;
}

.form-input, .form-textarea {
  width: 100%;
  padding: 0.75rem; /* Increase padding */
  margin-bottom: 1rem;
  background-color: white;
  color: #1f2937;
  border: 1px solid #d1d5db; /* Add border */
  border-radius: 0.375rem; /* Increase border-radius */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* Add box-shadow */
  transition: border-color 0.3s, box-shadow 0.3s; /* Add transition */
  box-sizing: border-box; /* Add this line */
}

.form-input:focus, .form-textarea:focus {
  border-color: #2563eb; /* Change border color on focus */
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.3); /* Add focus shadow */
  outline: none; /* Remove default outline */
}

.submit-button {
  position: relative;
  font-family: 'Anton', sans-serif;
  background-color: #f3ea28;
  color: black;
  height: 40px;
  width: 100%;
  border-radius: 0.25rem;
  overflow: hidden;
}

.button-text {
  position: relative;
  z-index: 10;
  transition: color 0.3s;
}

.button-background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #663399, #3366cc);
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.submit-button:hover .button-text {
  color: white;
}

.submit-button:hover .button-background {
  transform: translateX(0);
}

@media (min-width: 768px) {
  .contact-container {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .contact-wrapper {
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between; /* Add this line */
  }

  .contact-title {
    font-size: 40px;
  }

  .social-image-container {
    width: 180px;
  }

  .social-text {
    font-size: 36px;
    height: 103px;
  }

  .contact-form {
    padding: 1.5rem;
  }

  .form-title {
    font-size: 1.5rem;
  }

  .contact-info {
    font-size: 1rem;
  }

  .form-input, .form-textarea {
    padding: 0.75rem;
  }

  .submit-button {
    width: 230px;
  }
}
