.login-tabs-container {

  width: 100%;
margin-bottom:100px ;

  color: black;
}

.login-tabs {
  width: 600px;
  height: 45px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: black;
  font-weight: 800;
}

.login-tabs button {
  background-color: #0f172a;
  color: white;
}

#login-in,
#login-up {
  width: 300px;
  font-size: 14px;
  border-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.login-tab.login-active {
  background-color: #f8fafc;
  color: #000;
  font-weight: 800;
}

.login-tabs-form.login-form-active,
.login-tabs-form.register-form-active {
  background-color: #f8fafc;
  width: 600px;
  font-size: 16px;
  margin: 0;
  padding: 36px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -20px;
}

.login-form-group {
  margin-bottom: 15px;
  width: 100%;
}

.login-form-label {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  text-align: left;
}

.login-remember-me {
  float: left;
}

.login-form-input {
  width: 100%;
  max-width: 528px;
  padding: 10px;
  box-sizing: border-box;
  border: 0.1rem solid #e2e8f0;
}

.login-space {
  padding-left: 10px;
}

.login-auth-button {
  width: 528px;
  height: 46px;
  background-color: #f3ea20;
  position: relative;
  overflow: hidden;
}

.login-auth-button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #673ab7, #2196f3);
  top: 0;
  left: -100%;
  transition: all 0.4s ease-in-out;
  z-index: 1;
}

.login-auth-button:hover::before {
  left: 0;
}

.login-auth-button span {
  position: relative;
  font-weight: 700;
  z-index: 2;
}

.login-auth-button:hover span {
  transition: all 0.2s ease-in-out;
  color: #fff;
}

.login-forgot-password {
  width: 100%;
  text-align: right;
  margin-top: 10px;
  margin-bottom: 25px;
  margin-right: 15px;
}

.login-forgot-password-link {
  color: black;
}

.login-red {
  color: red;
}
